@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-kanit: 'Kanit', sans-serif;
  --font-sans: var(--font-kanit), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: #16AD78;
  --color-secondary: #3B82F6;
}

@layer utilities {
  .font-kanit {
    font-family: var(--font-kanit);
  }
}

body {
  font-family: var(--font-kanit), ui-sans-serif, system-ui, sans-serif;
}

/* Hide native password reveal button in Edge/Internet Explorer */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

@media print {
  @page {
    margin: 0;
    size: auto;
  }

  body * {
    visibility: hidden;
  }

  /* Only show the modal content */
  .fixed.inset-0,
  .fixed.inset-0 * {
    visibility: visible;
  }

  .fixed.inset-0 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    margin: 0 !important;
  }

  .print-content {
    width: 100%;
    max-width: 300px;
    /* Receipt width */
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
  }

  /* Hide buttons and other non-printable elements */
  button,
  .print\:hidden {
    display: none !important;
  }
}
